{{- if (include "webhook.enabled" .) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "webhook.labels" . | nindent 4 }}
  name: {{ include "trow.fullname" . }}-webhook
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.webhooks.replicas }}
  selector:
    matchLabels:
      {{- include "webhook.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "webhook.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include "trow.config" . | sha256sum }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      initContainers:
      - name: trow-webhook-cert-translate
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
          - sh
          - -c
          - |
            cp /etc/trow/webhook-cert-ecc/tls.crt /etc/trow/webhook-cert/cert && \
            openssl pkcs8 -topk8 -nocrypt -in /etc/trow/webhook-cert-ecc/tls.key -out /etc/trow/webhook-cert/key
        {{- with .Values.containerSecurityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: webhook-cert-translated
          mountPath: /etc/trow/webhook-cert
        - name: webhook-cert-ecc
          mountPath: /etc/trow/webhook-cert-ecc
          readOnly: true
      containers:
      - name: trow-webhook
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
          - "--tls=/etc/trow/webhook-cert/cert,/etc/trow/webhook-cert/key"
          - "-n"
          - {{ .Values.trow.domain | quote }}
          {{- if include "trow.hasConfigFile" . }}
          - "--config-file=/etc/trow/config.yaml"
          {{- end }}
        env:
        - name: RUST_LOG
          value: {{ .Values.trow.logLevel }}
        ports:
        - name: webhook
          containerPort: 8443
        {{- with .Values.containerSecurityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: webhook-cert-translated
          mountPath: /etc/trow/webhook-cert
          readOnly: true
      {{- if include "trow.hasConfigFile" . }}
        - name: trow-cfg
          mountPath: /etc/trow/config.yaml
          subPath: config.yaml
          readOnly: true
      {{- end}}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: webhook-cert-ecc
          secret:
          {{- if (not (empty .Values.webhooks.tls.existingSecretRef)) }}
            secretName: {{ .Values.webhooks.tls.existingSecretRef }}
          {{- else if .Values.webhooks.tls.certmanager.enabled }}
            secretName: {{ include "trow.fullname" . }}-cm-webhooks
          {{- else if .Values.webhooks.tls.patch.enabled }}
            secretName: {{ include "trow.fullname" . }}-patch-webhooks
          {{- end }}
        - name: webhook-cert-translated
          emptyDir: {}
      {{- if include "trow.hasConfigFile" . }}
        - name: trow-cfg
          secret:
            secretName: {{ include "trow.fullname" . }}-cfg
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "trow.fullname" . }}-webhook-pdb
  namespace: {{ .Release.Namespace }}
spec:
  minAvailable: 1
  selector:
    matchLabels:
      {{- include "webhook.selectorLabels" . | nindent 6 }}
