{{- include "validateWebhookTlsGenValues" . -}}
{{- if and (or .Values.trow.validationWebhook.enable .Values.trow.proxyRegistries.webhook.enable) .Values.trow.webhooks.tlsPatch.enable }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "trow.fullname" . }}-admission
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade,post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "trow.labels" . | nindent 4 }}
    app.kubernetes.io/component: admission-webhook
rules:
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - validatingwebhookconfigurations
      - mutatingwebhookconfigurations
    verbs:
      - get
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name:  {{ include "trow.fullname" . }}-admission
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade,post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "trow.labels" . | nindent 4 }}
    app.kubernetes.io/component: admission-webhook
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "trow.fullname" . }}-admission
subjects:
  - kind: ServiceAccount
    name: {{ include "trow.fullname" . }}-admission
    namespace: {{ .Release.Namespace | quote }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "trow.fullname" . }}-admission-create
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "trow.labels" . | nindent 4 }}
    app.kubernetes.io/component: admission-webhook
spec:
{{- if .Capabilities.APIVersions.Has "batch/v1alpha1" }}
  ttlSecondsAfterFinished: 0
{{- end }}
  template:
    metadata:
      name: {{ include "trow.fullname" . }}-admission-create
      labels:
        {{- include "trow.labels" . | nindent 8 }}
        app.kubernetes.io/component: admission-webhook
    spec:
      containers:
        - name: create
          image: {{ .Values.webhookPatch.image.image }}
          imagePullPolicy: {{ .Values.webhookPatch.image.pullPolicy }}
          args:
            - create
            - --host={{ include "trow.fullname" . }}-admission,{{ include "trow.fullname" . }}-admission.$(POD_NAMESPACE).svc
            - --namespace=$(POD_NAMESPACE)
            - --secret-name={{ include "trow.fullname" . }}-admission
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          securityContext:
            allowPrivilegeEscalation: false
      restartPolicy: OnFailure
      serviceAccountName: {{ include "trow.fullname" . }}-admission
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        fsGroup: 2000
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "trow.fullname" . }}-admission-patch
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "trow.labels" . | nindent 4 }}
    app.kubernetes.io/component: admission-webhook
spec:
{{- if .Capabilities.APIVersions.Has "batch/v1alpha1" }}
  ttlSecondsAfterFinished: 0
{{- end }}
  template:
    metadata:
      name: {{ include "trow.fullname" . }}-admission-patch
      labels:
        {{- include "trow.labels" . | nindent 8 }}
        app.kubernetes.io/component: admission-webhook
    spec:
      containers:
      {{- if .Values.trow.validationWebhook.enable }}
        - name: patch-validation
          image: {{ .Values.webhookPatch.image.image }}
          imagePullPolicy: {{ .Values.webhookPatch.image.pullPolicy }}
          args:
            - patch
            - --webhook-name={{ include "trow.fullname" . }}-validation
            - --namespace=$(POD_NAMESPACE)
            - --patch-mutating=false
            - --cert-name=tls.crt
            - --key-name=tls.key
            - --secret-name={{ include "trow.fullname" . }}-admission
            - --patch-failure-policy={{ .Values.trow.validationWebhook.failurePolicy }}
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          securityContext:
            allowPrivilegeEscalation: false
      {{- end }}
      {{- if .Values.trow.proxyRegistries.webhook.enable }}
        - name: patch-mutation
          image: {{ .Values.webhookPatch.image.image }}
          imagePullPolicy: {{ .Values.webhookPatch.image.pullPolicy }}
          args:
            - patch
            - --webhook-name={{ include "trow.fullname" . }}-mutation
            - --namespace=$(POD_NAMESPACE)
            - --patch-validating=false
            - --cert-name=tls.crt
            - --key-name=tls.key
            - --secret-name={{ include "trow.fullname" . }}-admission
            - --patch-failure-policy={{ .Values.trow.proxyRegistries.webhook.failurePolicy }}
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          securityContext:
            allowPrivilegeEscalation: false
      {{- end }}
      restartPolicy: OnFailure
      serviceAccountName: {{ include "trow.fullname" . }}-admission
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        fsGroup: 2000
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name:  {{ include "trow.fullname" . }}-admission
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade,post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "trow.labels" . | nindent 4 }}
    app.kubernetes.io/component: admission-webhook
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "trow.fullname" . }}-admission
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade,post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "trow.labels" . | nindent 4 }}
    app.kubernetes.io/component: admission-webhook
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "trow.fullname" . }}-admission
subjects:
  - kind: ServiceAccount
    name: {{ include "trow.fullname" . }}-admission
    namespace: {{ .Release.Namespace | quote }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "trow.fullname" . }}-admission
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade,post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "trow.labels" . | nindent 4 }}
    app.kubernetes.io/component: admission-webhook
{{- end -}}
