[package]
name = "trow"
version = "0.6.1"
authors = []
edition = "2021"

[features]
sqlite = []

[dependencies]
futures = "0.3"
axum = { version = "0.7.2", features = ["tracing"] }
axum-server = { git = "https://github.com/programatik29/axum-server.git", rev = "e575e90", features = ["tls-rustls"] }
# axum-server = { version = "0.5", features = ["tls-rustls"] }
axum-extra = { version = "0.9.0", features = ["typed-header"] }
tower = "0.4"
tower-http = { version = "0.5", features = ["cors", "normalize-path", "trace"] }
jsonwebtoken = "9.2"
rust-argon2 = "2.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_derive = "1.0"
serde_yaml = "0.9.0"
uuid = { version = "1.3", features = ["v4", "serde"] }
base64 = "0.21.0"
anyhow = "1.0"
derive_more = "0.99"
clap = { version = "4.1.0", features = ["derive"] }
bytes = "1"
chrono = { version = "^0.4", features = ["serde"] }
# rusqlite = "0.28.0"
lazy_static = "1.4.0"
regex = "1.5.0"
sha2 = "0.10.0"
hex = "0.4.0"
thiserror = "1.0"
kube = { version = "0.87", features = ["admission"] }
k8s-openapi = { version = "0.20.0", features = ["v1_26"] }
json-patch = "1.0.0"
tokio = { version = "1", features = ["macros"] }
tokio-util = { version = "0.7.8", features = ["codec"] }
hyper = "1.0"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
tracing = "0.1.37"
paste = "1.0.14"
async-recursion = "1.0"
reqwest = { version = "0.11", features = [
    "json",
    "stream",
    "rustls-tls",
], default-features = false }
prometheus = { version = "0.13" }
fs3 = "0.5.0"
quoted-string = "0.6.1"
aws-config = "1.0.3"
aws-types = "1.0.3"
aws-sdk-ecr = "1.5.0"
const_format = "0.2.24"
async-trait = "0.1.74"
walkdir = "2.0"


[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.0"
environment = "^0.1"
reqwest = { version = "0.11", features = ["blocking", "json", "gzip", "rustls-tls"] }
libc = "0.2"
tempfile = "3"
wiremock = "0.5.22"
fastrand = "2.0.1"
