[package]
name = "trow"
version = "0.3.5"
authors = ["Adrian Mouat <adrian.mouat@container-solutions.com>", "Hamish Hutchings <hamish.hutchings@container-solutions.com>"]
edition = "2021"

[workspace]
members = [
    "trow-server",
    "trow-protobuf"
]


[features]
sqlite = []

[dependencies]
futures = "0.3"
rocket = { version = "0.5.0-rc", features = ["tls", "json"] }
rand = "0.8"
jwt = "0.16"
frank_jwt = "3.1"
rust-argon2 = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_derive = "1.0"
serde_yaml = "0.8.24"
uuid = { version = "0.8", features = ["v4", "serde"] }
log = "0.4"
env_logger = "0.9"
base64 = "0.13.0"
anyhow = "1.0"
trow-protobuf = { path = "./trow-protobuf" }
trow-server = { path = "./trow-server" }
derive_more = "0.99"
hostname = "0.3"
clap = "3.0"
tonic = "0.6"
prost = "0.9"
prost-types = "0.9"
bytes = "1"
chrono = { version="^0.4", features = ["serde"] }
rusqlite = "0.27"
data-encoding = "2.3"
openssl = { version = "0.10", features = ["vendored"] }
lazy_static = "1.4.0"
regex = "1.5.0"
sha2 = "0.10"
hex = "0.4"
thiserror = "1.0"
rocket_cors = { git = "https://github.com/lawliet89/rocket_cors", branch = "master" }
kube = {version="0.73", features=["admission"]}
k8s-openapi = {version="0.15.0", features=["v1_23"]}

[dev-dependencies]
quickcheck = "1.0"
assert_cmd = "2.0"
predicates = "2.1"
environment = "^0.1"
hyper = "0.14"
rand = "^0.8"
reqwest = { version = "0.11", features = ["blocking", "json", "gzip"] }
libc = "0.2"
derive_more = "0.99"
tokio = { version = "1", features = ["macros"] }
