[package]
name = "trow"
version = "0.3.4"
authors = ["Adrian Mouat <adrian.mouat@container-solutions.com>", "Hamish Hutchings <hamish.hutchings@container-solutions.com>"]
edition = "2018"

[features]
sqlite = []

[dependencies]
futures = "0.3"
rocket = { version = "0.5.0-rc", features = ["tls", "json"] }
rand = "0.7"
jwt = "0.10"
frank_jwt = "3.1"
rust-argon2 = "^0.4.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_derive = "1.0"
uuid = { version = "0.8", features = ["v4", "serde"] }
log = "0.4"
env_logger = "0.7"
base64 = "0.12.0"
failure = "0.1"
trow-protobuf = { path = "./lib/protobuf" }
trow-server = { path = "./lib/server" }
derive_more = "0.99"
hostname = "0.3"
clap = "~2.33"
tonic = "0.5"
prost = "0.8"
prost-types = "0.8"
bytes = "1"
chrono = { version="^0.4", features = ["serde"] }
rusqlite = "0.23.1"
data-encoding = "2.3"
openssl = { version = "0.10", features = ["vendored"] }
lazy_static = "1.4.0"
regex = "1.3.9"
sha2 = "0.9"
hex = "0.4"
thiserror = "1.0"
rocket_cors = { git = "https://github.com/lawliet89/rocket_cors", branch = "master" }

[build-dependencies]

[dev-dependencies]
futures = "0.3"
quickcheck = "^0.6"
assert_cli = "^0.5"
environment = "^0.1"
hyper = "0.14"
rand = "^0.7.2"
reqwest = { version = "0.11", features = ["blocking", "json", "gzip"] }
libc = "0.2"
derive_more = "0.99"
tokio = { version = "1", features = ["macros"] }
