# Default values for trow.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/trow-registry/trow
  tag:
  pullPolicy: IfNotPresent

trow:
  ## if using NodePort, this can be set to 127.0.0.1:XXXX
  ## Where "XXXX" is the value of service.nodePort
  domain: myregistry.mydomain.io
  # user: user
  # password: password

  ## The Trow validation webhook validates which images are allowed to run on your cluster.
  ## Note: it runs AFTER the mutating webhook.
  validationWebhook:
    enable: false
    failurePolicy: Ignore
    ## The validation webhook need to be configured.
    ## Note: it runs AFTER mutation webhooks.
    ## Example:
    config:
      ## Default action for unknown images (Deny or Allow)
      default: Deny
      ## List of allowed image URI prefixes
      allow:
        - 127.0.0.1
      deny: []
        # - 127.0.0.1/f/docker/nope/
  ## The proxyRegistries section allows you to configure Trow to act as a proxy for other registries.
  proxyRegistries:
    ## The Trow mutating webhook will automatically rewrite the pod image URLs to use the Trow proxy.
    webhook:
      enable: false
      failurePolicy: Ignore
    config:
      # offline: false
      # registries:
      #   - alias: docker
      #     host: registry-1.docker.io
      #   - alias: ghcr
      #     host: ghcr.io
      #     ignore_repos: ["trow-registry/trow"]
  ## For more info on log levels see https://docs.rs/tracing-subscriber/0.3.17/tracing_subscriber/filter/struct.EnvFilter.html
  logLevel: info
  ## Global config options for webhooks (validation and mutation)
  webhooks:
    ## https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-namespaceselector
    # namespaceSelector:
    tlsCertmanager:
      enable: false
      rootCert:
        # default to be 5y
        duration: ""
      admissionCert:
        # default to be 1y
        duration: ""
      # issuerRef:
      #   name: "issuer"
      #   kind: "ClusterIssuer"
    tlsPatch:
      enable: true

## Job to configure the webhooks
webhookPatch:
  image:
    image: registry.k8s.io/ingress-nginx/kube-webhook-certgen:v20230312-helm-chart-4.5.2-28-g66a760794@sha256:01d181618f270f2a96c04006f33b2699ad3ccb02da48d0f89b22abce084b292f
    pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  port: 8000
  ## Specify the nodePort value for the LoadBalancer and NodePort service types.
  nodePort:

ingress:
  enabled: false
  gke: false
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - paths: ["/"]
      # use "none" to not set a host (otherwise defaults to trow.domain)
      host:
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  limits:
    memory: 256Mi
  #   cpu: 100m
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

volumeClaim:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 20Gi
