---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "trow.fullname" . }}
  labels:
    {{- include "trow.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "trow.selectorLabels" . | nindent 6 }}
  serviceName: trow
  template:
    metadata:
      labels:
        {{- include "trow.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- if .Values.trow.validation.enabled }}
      initContainers:
      # TODO: remove this thing :'c
      - name: trow-webhook-cert-translate
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
          - sh
          - -c
          - |
            cp /etc/trow/webhook-cert-ecc/cert /etc/trow/webhook-cert && \
            openssl pkcs8 -topk8 -nocrypt -in /etc/trow/webhook-cert-ecc/key -out /etc/trow/webhook-cert/key
        volumeMounts:
        - name: webhook-cert-translated
          mountPath: /etc/trow/webhook-cert
        - name: webhook-cert-ecc
          mountPath: /etc/trow/webhook-cert-ecc
          readOnly: true
    {{- end }}
      containers:
      - name: trow
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
          - "--no-tls"
          - "-n"
          - {{ .Values.trow.domain | quote }}
          {{- if and (.Values.trow.user) (.Values.trow.password) }}
          - "-u"
          - {{ .Values.trow.user | quote }}
          - "--password-file"
          - "/etc/trow/pass"
          {{- end }}
          {{- if (not (empty .Values.trow.proxyRegistries)) }}
          - "--proxy-registry-config-file=/etc/trow/proxy-registries.yaml"
          {{- end }}
        ports:
        - name: http
          containerPort: 8000
        volumeMounts:
        - name: data-vol
          mountPath: /data
      {{- if and (.Values.trow.user) (.Values.trow.password) }}
        - name: trow-pass
          mountPath: /etc/trow/pass
          subPath: pass
          readOnly: true
      {{- end}}
      {{- if (not (empty .Values.trow.proxyRegistries)) }}
        - name: trow-proxy-cfg
          mountPath: /etc/trow/proxy-registries.yaml
          subPath: proxy-registries.yaml
          readOnly: true
      {{- end}}
    {{- if .Values.trow.validation.enabled }}
      - name: trow-webhook
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
          - "--cert=/etc/trow/webhook-cert/cert"
          - "--key=/etc/trow/webhook-cert/key"
          - "-n"
          - {{ .Values.trow.domain | quote }}
          {{- if and (.Values.trow.user) (.Values.trow.password) }}
          - "-u"
          - {{ .Values.trow.user | quote }}
          - "--password-file=/etc/trow/pass"
          {{- end }}
          {{- if (not (empty .Values.trow.proxyRegistries)) }}
          - "--proxy-registry-config-file=/etc/trow/proxy-registries.yaml"
          {{- end }}
        {{- with .Values.trow.validation }}
          {{- if .allowDocker }}
          - "--allow-docker-official"
          {{- end }}
          {{- if not .allowKubernetes }}
          - "--deny-k8s-images"
          {{- end }}
          {{- if .allowPrefixes }}
          - "--allow-prefixes"
          - {{ .allowPrefixes | join "," | quote }}
          {{- end }}
          {{- if .allowImages }}
          - "--allow-images"
          - {{ .allowImages | join "," | quote }}
          {{- end }}
          {{- if .disallowLocalPrefixes }}
          - "--disallow-local-prefixes"
          - {{ .disallowLocalPrefixes | join "," | quote }}
          {{- end }}
          {{- if .disallowLocalImages }}
          - "--disallow-local-images"
          - {{ .disallowLocalImages | join "," | quote }}
          {{- end }}
        {{- end }}
        ports:
        - name: webhook
          containerPort: 8443
        volumeMounts:
        - name: data-vol
          mountPath: /data
        - name: webhook-cert-translated
          mountPath: /etc/trow/webhook-cert
          readOnly: true
      {{- if and (.Values.trow.user) (.Values.trow.password) }}
        - name: trow-pass
          mountPath: /etc/trow/pass
          subPath: pass
          readOnly: true
      {{- end}}
      {{- if (not (empty .Values.trow.proxyRegistries)) }}
        - name: trow-proxy-cfg
          mountPath: /etc/trow/proxy-registries.yaml
          subPath: proxy-registries.yaml
          readOnly: true
      {{- end}}
    {{- end }}
      volumes:
        - name: webhook-cert-ecc
          secret:
            secretName: {{ include "trow.fullname" . }}-admission
        - name: webhook-cert-translated
          emptyDir: {}
      {{- if and (.Values.trow.user) (.Values.trow.password) }}
        - name: trow-pass
          secret:
            secretName: {{ include "trow.fullname" . }}-password
      {{- end}}
      {{- if (not (empty .Values.trow.proxyRegistries)) }}
        - name: trow-proxy-cfg
          secret:
            secretName: {{ include "trow.fullname" . }}-proxy-cfg
      {{- end }}
      securityContext:
        runAsUser: 333333
        runAsGroup: 333333
        fsGroup: 333333
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- with .Values.volumeClaim }}
  volumeClaimTemplates:
    - metadata:
        name: data-vol
      spec:
        {{- toYaml . | nindent 8 }}
  {{- end }}
