---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "trow.fullname" . }}
  labels:
    {{- include "registry.labels" . | nindent 4 }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "registry.selectorLabels" . | nindent 6 }}
  serviceName: trow
  template:
    metadata:
      labels:
        {{- include "registry.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include "trow.config" . | sha256sum }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
      - name: trow
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
          - "--hostname"
          - {{ .Values.trow.domain | quote }}
          {{- if .Values.trow.bind }}
          - --bind
          - {{ .Values.trow.bind | quote }}
          {{- end }}
          {{- if and (.Values.trow.user) (.Values.trow.password) }}
          - "--user"
          - {{ .Values.trow.user | quote }}
          - "--password"
          - "file:///etc/trow/pass"
          {{- end }}
          {{- if or (not (empty .Values.trow.proxyRegistries.config)) (not (empty .Values.trow.validationWebhook.config)) }}
          - "--config-file=/etc/trow/config.yaml"
          {{- end }}
        env:
        - name: RUST_LOG
          value: {{ .Values.trow.logLevel }}
        ports:
        - name: http
          containerPort: 8000
        volumeMounts:
        - name: data-vol
          mountPath: /data
      {{- if and (.Values.trow.user) (.Values.trow.password) }}
        - name: trow-pass
          mountPath: /etc/trow/pass
          subPath: pass
          readOnly: true
      {{- end}}
      {{- if include "trow.hasConfigFile" . }}
        - name: trow-cfg
          mountPath: /etc/trow/config.yaml
          subPath: config.yaml
          readOnly: true
      {{- end}}
      {{- with .Values.resources }}
        resources:
        {{- toYaml . | nindent 10 }}
      {{- end }}
        {{- with .Values.containerSecurityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      {{- if and (.Values.trow.user) (.Values.trow.password) }}
        - name: trow-pass
          secret:
            secretName: {{ include "trow.fullname" . }}-password
      {{- end}}
      {{- if include "trow.hasConfigFile" . }}
        - name: trow-cfg
          secret:
            secretName: {{ include "trow.fullname" . }}-cfg
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- with .Values.volumeClaim }}
  volumeClaimTemplates:
    - metadata:
        name: data-vol
      spec:
        {{- toYaml . | nindent 8 }}
  {{- end }}
