{{- if or .Values.trow.validation.enableWebhook .Values.trow.proxyConfig.enableWebhook -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "trow.fullname" . }}-tls-patch
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade,post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
  labels:
    {{- include "trow.labels" . | nindent 4 }}
{{- end }}
