$default-background-color: rgba(220, 220, 220, 0.657);

body {
    min-height: 100vh;
}

#homeGrid {
    min-height: 100vh;
    background-color: $default-background-color;
}

#catalogGrid {
    background-color: $default-background-color;
    display: flex;
    height: 100vh;
}

#loaderSegment {
    background-color: $default-background-color;
    display: flex;
    height: 100vh;
}

#mainHeader {
    background-color: $default-background-color;
}
