# Also builds the Docker images, but we want this name on the badge
name: OCI Conformance

on:
  push:
    branches:
      - main

jobs:
  upload_images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: linux/amd64,linux/arm64
      - uses: sigstore/cosign-installer@main
      - name: Build and push multi-arch image
        run: |
          ./docker/multi-arch.sh
          docker build -f ./docker/Dockerfile.notls -t ghcr.io/extrality/trow:notls ./
          docker push ghcr.io/extrality/trow:no-tls
          cosign sign --yes ghcr.io/extrality/trow:no-tls
        env:
          COSIGN_EXPERIMENTAL: 1

  conformance_tests:
    services:
      trow:
        image: ghcr.io/extrality/trow:no-tls
    needs: upload_images
    runs-on: ubuntu-latest
    steps:
      - name: Run OCI Distribution Spec conformance tests
        uses: opencontainers/distribution-spec@main
        env:
          OCI_ROOT_URL: http://trow:8000
          OCI_NAMESPACE: oci-conformance/distribution-test
          OCI_TEST_PULL: 1
          OCI_TEST_PUSH: 1
          OCI_TEST_CONTENT_DISCOVERY: 1
          OCI_TEST_CONTENT_MANAGEMENT: 1
          OCI_HIDE_SKIPPED_WORKFLOWS: 0
          OCI_DEBUG: 0
      - name: Copy Report
        run: mkdir -p .out/ && mv {report.html,junit.xml} .out/
        if: always()
      - name: Upload test results zip as build artifact
        uses: actions/upload-artifact@v1
        with:
          name: oci-test-results-${{ github.sha }}
          path: .out/
        if: always()
