name: Release Trow

on:
  push:
    tags:
      - "trow/*"

jobs:
  release-trow:
    outputs:
      container-image: ${{ steps.build-images.outputs.container-image }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: linux/amd64,linux/arm64
      - uses: sigstore/cosign-installer@main
      - name: Check tag and Cargo.toml version match
        run: |
          FROM_CARGO="trow/v$(sed '/^version = */!d; s///;q' Cargo.toml | sed s/\"//g)"
          FROM_TAG="${GITHUB_REF#refs/tags/}"
          if [ "$FROM_CARGO" != "$FROM_TAG" ]; then
            echo "Versions do not match: $FROM_CARGO and $FROM_TAG"
            exit 1
          fi
      - name: Build and push multi-arch image
        id: build-images
        run: ./docker/multi-arch.sh
        env:
          COSIGN_EXPERIMENTAL: 1
