name: Release Trow

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to release'
        required: true
        default: 'v0.9.2'

jobs:
  release-trow:
    outputs:
      container-image: ${{ steps.build-images.outputs.container-image }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: Check tag and Cargo.toml version match
        run: |
          FROM_CARGO="v$(sed '/^version = */!d; s///;q' Cargo.toml | sed s/\"//g)"
          FROM_TAG="${{ github.event.inputs.tag || github.ref_name }}"
          if [ "$FROM_CARGO" != "$FROM_TAG" ]; then
            echo "Versions do not match: $FROM_CARGO and $FROM_TAG"
            exit 1
          fi
      - name: Build multi-arch image
        id: build-images
        run: ./docker/multi-arch.sh
      - name: Publish multi-arch image
        run: |
          podman manifest push ${{ steps.build-images.outputs.container-image }}"
